<ion-content>
  <div style="margin: 30px"></div>

<ion-item>
  <ion-label position="floating">Lang</ion-label>
  <ion-select value="peperoni" [(ngModel)]="lang">
    <ion-select-option value="pt-BR">Portugues</ion-select-option>
    <ion-select-option value="fr-FR">Frances</ion-select-option>
    <ion-select-option value="en">English</ion-select-option>
    <ion-select-option value="es">Spanish</ion-select-option>
  </ion-select>
</ion-item>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Type Number</ion-label>
      <ion-input type="number" [(ngModel)]="entity.prop1" (ionChange)="onChange()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type Number Input Decimal</ion-label>
      <ion-input type="number" inputmode="decimal" [(ngModel)]="entity.prop1" (ionChange)="onChange()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type Tel</ion-label>
      <ion-input type="tel" [(ngModel)]="entity.prop2" (ionChange)="onChange()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type Text</ion-label>
      <ion-input type="text" [ngModel]="entity.prop3 | number:'':lang" (ngModelChange)="entity.prop3=$event" (ionChange)="onChange()"></ion-input>
    </ion-item>
  </ion-list>

  {{ .25*entity.prop3 }}
  <br>
  <ion-label> {{ lang }} </ion-label>
  <br>
  <ion-text color="primary">
     {{ jsonEntity }}
  </ion-text>

</ion-content>
